<!DOCTYPE html>

{% load static %}
<html lang="ko_KR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}베이스{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'movie/css/base.css' %}">
</head>
<body>
    <div class="frame">
        <div class="header">
            <div class="logo">영화예매</div>
                {% if user.is_active %}
                    <a href="/accounts/logout" class="userInfo">로그아웃</a>
                    <a href="/accounts/myhistory" class="userInfo">{{ user.username }}님</a>
                {% else %}
                    <a href="/accounts/signup" class="userInfo">회원가입</a>
                    <a href="/accounts/login" class="userInfo">로그인</a>
                {% endif %}
        </div>
        <!-- // header-->
        <div class="container">
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link">예매 홈</a></li>
                    <li class="nav-item"><a href="/reservation" class="nav-link">예매하기</a></li>
                    <li class="nav-item"><a href="/movieIssue" class="nav-link">영화소식</a></li>
                    <li class="nav-item"><a href="/myhistory" class="nav-link">예매내역</a></li>
                </ul>
            </div>
            <!-- //nav -->
            <div class="content" name="content">
                {% block content %}
                base
                {% endblock %}
            </div>
        </div>
        <!-- //container -->
        <div class="footer">
            <p class="copyright">&copy;</p>
        </div>
        <!-- //footer -->
    </div>
    <!-- //frame -->

</body>
</html>